@use "../../../sass/article.scss" as *;

:host {
  display: flex;
  justify-content: center;
}

.about-wrapper {
  @extend .wrapper;
}

.about-wrap {
  @extend .wrap;
}

@media (max-width: 450px) {
  .about-wrap {
    max-width: 100%;
    padding: 1em 0rem;
    max-width: 100%;
  }
  /* … */
}
