.post-wrap {
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  img {
    max-width: 100%;
  }

  .title {
  }

  .subtitle {
  }

  .paragraph {
  }
}
