:host {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.post-wrap {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 75%;

  img {
    max-width: 100%;
  }

  .title {
  }

  .subtitle {
  }

  .paragraph {
  }
}
