# fly.toml app configuration file generated for pichon-front on 2025-10-12T22:13:47+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pichon-front'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 0.0.0.0:3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
