<div class="blog-container">
  <div class="index-wrapper">
    @for (category of categories(); track $index) { @if ($index !== 0) {
    <b> • </b>
    }
    <div class="section-wrapper" (click)="selectSection(category)">
      <div
        class="description"
        [class.selected]="category.title.toLowerCase() === selectedCategory()"
      >
        <span>{{ category.title }}</span>
      </div>
    </div>
    }
  </div>
  <div class="posts-wrapper">
    @for (post of posts(); track $index) {
    <div class="blog-item-wrap" (click)="navigateToPost(post)">
      <div class="img-wrapper">
        <img src="{{ `../../../assets/images/${post.img}` }}" />
      </div>
      <div class="post-info">
        <div class="categories">
          @for (category of post.categories; track $index) {
          <p>{{ category.toUpperCase() }}</p>
          }
        </div>
        <div class="title">
          <h2>{{ post.title.toUpperCase() }}</h2>
        </div>
        <div class="abstract">
          <p>{{ post.abstract }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
