.blog-container {
  padding: 2rem 0rem;

  .index-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 0.7rem;
    align-items: center;

    .section-wrapper {
      cursor: pointer;
    }

    .description {
      font-size: 23px;
      font-weight: bold;

      &.selected {
        border-bottom: 3px solid black;
      }
    }
  }

  .posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .blog-item-wrap {
      min-width: 28%;
      max-width: 28%;
      margin: 1rem;
      padding-top: 1rem;
      cursor: pointer;

      &:nth-child(n + 4) {
        border-top: 2px solid black;
      }

      .post-info {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        .title h2 {
          font-family: "Alte_haas_bold";
          font-size: 23px;
          line-height: 1;
        }

        .abstract p {
          font-family: "Exposure_var";
          font-size: 14px;
        }
        .categories {
          display: flex;
          gap: 0.5rem;

          p {
            font-family: "Alte_haas_regular";
            font-size: 14px;
            font-weight: bold;
          }
        }
      }

      img {
        width: 100%;
        max-height: 70%;
      }
    }
  }
}

@media (max-width: 850px) {
  .blog-container {
    padding: 0rem;

    .posts-wrapper .blog-item-wrap {
      min-width: 45%;
      max-width: 45%;
      padding: 0.5rem 0;
      margin: 0;

      &:nth-child(n + 3) {
        border-top: 2px solid black;
      }
    }
  }

  /* … */
}

@media (max-width: 450px) {
  .blog-container {
    padding: 0rem;

    .index-wrapper {
      gap: 0.1rem;

      .section-wrapper .description {
        font-size: 20px;
      }
    }

    .posts-wrapper {
      justify-content: center;

      .blog-item-wrap {
        max-width: 100%;
        padding: 0rem;
        max-width: 100%;
        padding-top: 1rem;

        &:nth-child(n + 2) {
          border-top: 2px solid black;
        }
      }
    }
  }

  /* … */
}
