.blog-container {
  padding: 2rem 0rem;

  .index-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;

    .section-wrapper {
      cursor: pointer;
    }

    .description {
      font-size: 23px;
      font-weight: bold;

      &.selected {
        border-bottom: 3px solid black;
      }
    }
  }

  .posts-wrapper {
    display: flex;
    flex-wrap: wrap;

    .post-wrap {
      min-width: 33%;
      max-width: 33%;
      padding: 1rem;

      .post-info {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        border-bottom: 2px solid black;

        .title h2 {
          font-size: 23px;
          line-height: 1;
        }

        .abstract p {
          font-size: 14px;
          padding-bottom: 1rem;
        }
        .categories {
          display: flex;
          gap: 0.5rem;

          p {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }

      img {
        width: 100%;
        max-height: 70%;
      }
    }

    @media (max-width: 850px) {
      .post-wrap {
        min-width: 50%;
        max-width: 50%;
        padding: 0.5rem;
      }
      /* … */
    }

    @media (max-width: 450px) {
      .post-wrap {
        min-width: 100%;
        max-width: 100%;
        padding: 0rem;
      }
      /* … */
    }
  }
}

@media (max-width: 450px) {
  .blog-container {
    padding: 0rem;
  }
  /* … */
}

@media (max-width: 850px) {
  .blog-container {
    padding: 0rem;
  }
  /* … */
}
