<header class="header">
  <div class="logotype-container">
    <div class="pichon-logotype" (click)="navigateTHome()"></div>
  </div>
  @if (!isHandset()) {
  <nav class="actions-board" aria-label="Navegación principal">
    <ng-container [ngTemplateOutlet]="menuItems" />
  </nav>
  } @else {
  <app-menu-button
    (isButtonOpen)="showHiddenMenu($event)"
    [changedFromOutside]="hiddenMenuOn()"
  ></app-menu-button>
  }
</header>
@if (isHandset()) {
<nav class="hidden-navbar" aria-label="Navegación principal" [class.is-open]="hiddenMenuOn()">
  <ng-container [ngTemplateOutlet]="menuItems" />
</nav>
}<ng-template #menuItems>
  <a (click)="startDownloadPdf()">Agenda</a>
  <a (click)="closeHiddenMenu()" routerLink="/guias">Guías</a>
  <a (click)="closeHiddenMenu()" routerLink="/blog">Blog</a>
  <a (click)="closeHiddenMenu()" routerLink="/about">About</a>
</ng-template>