<div class="safe-area-fill"></div>
<app-navbar></app-navbar>
<router-outlet />

<footer class="footer">
  @if (isSubscribeButtonVisible()) {
  <div class="subscribe-button-wrapper">
    <div class="subscribe-button" (click)="showModal()">
      <span>Suscríbete</span>
    </div>
  </div>
  }
  <div class="actions-footer">
    <div class="instagram-icon" (click)="openInstagram()">
      <img src="./../assets/images/instagram.png" alt="Pichón en Instagram" loading="lazy" />
    </div>
  </div>
</footer>
@if (isSubscribeModalVisible) {
<app-subscribe (close)="hideModal()"></app-subscribe>
}