$header-logotype-height: 2.3rem;

.pichon-app {
  background-color: hsl(193 69% 62%);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;

  .actions-board {
    padding: 0.5rem;
    display: flex;
    gap: 0.9rem;
    font-weight: bold;

    a {
      cursor: pointer;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.85);
      font-family: "grotesk";
      font-style: normal;
      line-height: 1.3;
      letter-spacing: 0em;
      display: block;
    }
  }

  .logotype-container {
    padding: 0.5rem;
    width: 40%;

    .pichon-logotype {
      width: 100%;
      cursor: pointer;
      height: $header-logotype-height;
      background-image: url("../assets/images/Pichon-logotipo_Negro.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .subscribe-button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    .subscribe-button {
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      background-color: black;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .copyright {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;

    .c-text {
      margin-left: 0.5rem;
    }
  }
}
