$header-logotype-height: 2.3rem;

:host {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .subscribe-button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    .subscribe-button {
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      background-color: black;
      color: white;
      font-size: 0.7rem;
      font-weight: 700;
    }
  }

  .instagram-icon {
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  .copyright {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;

    .c-text {
      margin-left: 0.5rem;
    }
  }
}
