.home-central-container {
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;

  .home-central {
    background-image: url("../../../assets/images/Home_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 17rem;
    width: 639px;
  }
}

.blog-sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  b {
    font-size: 1.5rem;
  }

  .section-wrapper {
    display: flex;
    gap: 0.2rem;
    font-family: "grotesk";
    font-weight: 800;
    cursor: pointer;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .home-central-container {
    padding: 5rem 0;

    .home-central {
      height: 9rem;
    }
  }

  .blog-sections-wrapper {
    gap: 0;
    font-weight: 600 !important;
    font-size: initial;
    line-height: 1.2rem;
  }

  .description {
    padding-right: 0.2rem;
  }

  .section-wrapper {
  }

  /* … */
}
