<div class="home-container-wrapper">
  <div class="home-central-container">
    <div class="home-central"></div>
  </div>
  <div class="blog-sections-wrapper">
    @for (category of categories(); track $index) {
    <div class="section-wrapper" (click)="selectSection(category)">
      @if ($index !== 0) {
      <b> • </b>
      }
      <div class="number">
        <span>({{ category.order }})</span>
      </div>

      <div class="description">
        <span>{{ category.title }}</span>
      </div>
    </div>
    }
  </div>
</div>
