<div class="content-wrapper" [class.self]="selfClass()">


  @if (!subscriptionSuccess()) {
  <div class="form-wrapper">
    <div class="email-label">
      <label for="name">Nombre*</label>
    </div>
    <input
      [formControl]="subscriptionName"
      type="text"
      id="name"
      size="30"
      required
    />

    <div class="email-label">
      <label for="email">Email*</label>
    </div>
    <input
      [formControl]="subscriptionEmail"
      type="email"
      id="email"
      size="30"
      required
    />

    <div class="privacy-checkbox">
      <label>
        <input type="checkbox" [formControl]="privacyAccepted" />
        He leído y acepto la
        <a routerLink="/politica-de-privacidad" target="_blank">Política de Privacidad</a>.
      </label>
    </div>
  </div>
  <div class="subscribe-button-wrapper">
    <div
      class="subscribe-button"
      [class.disabled]="!privacyAccepted.value"
      (click)="sendSubscriptionEmail()"
    >
      <span>👉 Suscríbete gratis</span>
    </div>
  </div>
  } @else {
  <p>Suscripción realizada con éxito. Gracias!!</p>
  }
</div>
